.App {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  /* align-items: center; */
}

.app__sidebar {
  display: flex;
}
.app__content {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}
